//- Extends and variables start

extends ../layout/main

//- HTML start

block content

        .container
            .headerInner
                .headerLogo
                    img(src="assets/img/logo-4.png", alt="") 

                .headerSocial
                    a.headerSocial-tel(href="tel:+79639167530") +7 (963) 916 75 30
                    a.headerSocial-tel(href="tel:+79649824556") +7 (964) 982 45 56

                    .headerSocial-icons
                        a.socialLink(href="#" target="_blank")
                            img.socialIcon(src="assets/img/inst.png", alt="")

                        a.socialLink(href="#" target="_blank")    
                            img.socialIcon(src="assets/img/fb.png", alt="")

                        a.socialLink(href="#" target="_blank")
                            img.socialIcon(src="assets/img/wp.png", alt="")


    
            .main
                .mainTitle 
                    h1 FUEL CANS -  FOR WHOLESALE DISTRIBUTORS BECOME A WHOLESALE AGENT FOR BRUMEX AND REDUCE COSTS WITH FACTORY DIRECT SOURCING
                .mainSupTitle 
                    h2 we offer a first class service with swift delivery times either by truck or pallet network
                a.mainscreenbutton.open-popup(href="javascript:" data-subtitle="Коммерческое предложение" data-fancybox data-src="#hidden-window") get a commercial offer
        .popup-container#hidden-window(style="display: none")
            .sectionform-form.popup-inner 
                img.popup-close(src="assets/img/close.svg", alt="")
                h2.sectionform-tile.sectionheader 
                    <b>GET</b>   
                    span.popup-subtitle  A COMMERCIAL OFFER
                .sectionform-els
                    form.ajax-form#formID_31(action="" data-theme="Пробный заказ для дилеров" onsubmit="ym(55938910, 'reachGoal', 'Cel32'); return true;")
                        .sectionform-inputs
                            input.input(type="text" name="name" placeholder="Your name*" required )
                            input.input.phone(type="tel" name="phone" placeholder="Number*" required )
                            input.input(type="text" name="region" placeholder="Specify your region*" required )
                        .sectionform-submit
                            input.inputsubmit(type="submit" name="submitinput" value="GET")
                            .agreement By clicking on the "GET" button, you agree to the terms of the user agreement
                        

        .popup-container#thancs-modal(style="display: none")
            .sectionform-form.popup-inner.tnh
                img.tnh-img(src="assets/img/tnh-1.jpg", alt="")
                .tnh-text Our manager will contact you soon!
//- HTML end