include ../utils/mixins

block variables
    - var title = 'BRUMEX - PRODUCTION OF PLASTIC PRODUCTS';
    - var websiteUrl = 'new2021.brumex-factory.com';
    - var metrikaId = '111111';


doctype html
html(lang='ru')
    head
        meta(charset='utf-8')
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title #{title}

        //- Header scripts start

        block headScript
            //- <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />  
            <link rel="preconnect" href="https://fonts.gstatic.com">
            <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500;600&display=swap" rel="stylesheet">
        //- Header scripts end
        
    body
        include ../includes/modules/header

            block content

        include ../includes/modules/footer

        //- Footer scripts start

        block footerScript
            //- Yandex.Metrika counter
            script(type='text/javascript').
                (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
                m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
                (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
                ym(#{metrikaId}, "init", {
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
                });
            noscript
            div
            img(src=`https://mc.yandex.ru/watch/${metrikaId}`, style='position:absolute; left:-9999px;', alt='')
            //-/Yandex.Metrika counter

            <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
            //- <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
        //- Footer scripts end
